html {
    cursor: url('../images/cursor.png'), auto !important;
}

button:hover {
    cursor: url('../images/cursorhover.png'), auto !important;
}

a:hover {
    cursor: url('../images/cursorhover.png'), auto !important;
}

.navbar.bg-body-tertiary {
    background-color: #8BAA92 !important;
}

body {
    background-color: #caddcf  !important;
}

#logueto {
    transition: transform 0.3s ease;
  }
#logueto:hover {
    transform: scale(1.1);
  }
.center-caro {
    margin: auto;
    width: 50%; 
}

#primerarazon, #segundarazon {
   background-color: #9bc0a3;
}

#footer {
    background-color: #8BAA92 !important;
}

#card1, #card2, #card3, #card4, #card5, #card6, #card7, #card8, #card9 {
    width: 20rem;
}
.card-img-top {
    height: 280px !important;
    object-fit: cover !important; 
}
.card-body a {
    transition: transform 0.3s ease-in-out; 
}

.card-body a:hover {
    transform: scale(1.1); 
}
.card-img-top {
    transition: opacity 0.3s ease; 
  }
  
  .card-img-top:hover {
    background-color:blanchedalmond;
    opacity: 0.7; 
  }

#prote1, #prote2, #prote3, #prote4 {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.h1 {
    font-weight:bold !important;
}

.modal-content {
    background-color:#a8bfae !important;
}

.form-control, .form-check-input, .form-select {
    opacity: 0.7;
    border-color:black;
}
#desplegableNavbar .dropdown-menu {
    background-color: #8BAA92;
}

#voluntariadoCarrusel1, #voluntariadoCarrusel2, #voluntariadoCarrusel3 {
    height: 350px;
}

#logopaypal, #logoteaming, #logoamazon {
    max-width:50px;
}
.card-header {
    background-color:#9bc0a3 !important;
}
.card-body {
    background-color:#caddcf;
}
#casaacogida {
    max-width: 500px;
}