html {
    cursor: url('../images/cursor.png'), auto !important;
}

button:hover {
    cursor: url('../images/cursorhover.png'), auto !important;
}

a:hover {
    cursor: url('../images/cursorhover.png'), auto !important;
}

.navbar.bg-body-tertiary {
    background-color: #8BAA92 !important;
}

body {
    background-color: #dcd8bc !important;
}

#logueto {
    transition: transform 0.3s ease;
  }
#logueto:hover {
    transform: scale(1.1);
  }
.center-caro {
    margin: auto;
    width: 50%; 
}

#primerarazon {
   background-color: #d1ceb1;
}

#segundarazon {
    background-color: #d1ceb1;
}