html {
    cursor: url('../images/cursor.png'), auto !important;
}

button:hover {
    cursor: url('../images/cursorhover.png'), auto !important;
}

a:hover {
    cursor: url('../images/cursorhover.png'), auto !important;
}

.navbar {
    background-color: #DBFBCA !important; 
  }