html {
    cursor: url('../images/cursor.png'), auto !important;
}

@font-face {

    font-family: animalianza;
    
    src: url(../fuente/animalianza.ttf);
    
    }

@font-face {
    
        font-family: roboto;
        
        src: url(../fuente/roboto.ttf);
}

@font-face {
        
        font-family: robotobold;
        
        src: url(../fuente/robotobold.ttf);
    
}
.bootstrap-font {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 14px !important;
}


H1, h2, h3, h4 {
    font-family: animalianza !important;
    -webkit-text-stroke: 1px #909CE0;
}

h5{
    font-family: animalianza !important;
    -webkit-text-stroke: .5px #909CE0

}


#titulo {
    font-family: animalianza !important;
    font-size: 80px;
    -webkit-text-stroke: 1px  black;
    color:  #B4FAC5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

body {
    font-family: roboto !important;
    background-color: #B4FAC5 !important;
}
button:hover {
    cursor: url('../images/cursorhover.png'), auto !important;
}


a:hover {
    cursor: url('../images/cursorhover.png'), auto !important;
}

.navbar.bg-body-tertiary {
    background-color: #78CA91 !important;
}

body {
    background-image: url("../images/fondo.png")  !important;
}

#logueto {
    transition: transform 0.3s ease;
  }
#logueto:hover {
    transform: scale(1.1);
  }
.center-caro {
    margin: auto;
    width: 50%; 
}

#card {
    max-width: 200px;
}



#footer {
    background-color: #78CA91 !important;
}

.card-body {
    background-color: #B4FAC5 !important;

}
#divsinfondo1, #divsinfondo2 {
    background: none !important;
    
}


.card-header {
   background-color: #78CA91 !important;
}

#card1, #card2, #card3, #card4, #card5, #card6, #card7, #card8, #card9 {
    width: 20rem;
}
.card-img-top {
    height: 280px !important;
    object-fit: cover !important; 
}
.card-body a {
    transition: transform 0.3s ease-in-out; 
}

.card-body a:hover {
    transform: scale(1.1); 
}
.card-img-top {
    transition: opacity 0.3s ease; 
  }
  
  .card-img-top:hover {
    background-color:blanchedalmond;
    opacity: 0.7; 
  }

#prote1, #prote2, #prote3, #prote4 {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.h1 {
    font-weight:bold !important;
}

.modal-content {
    background-color:#78CA91 !important;
}

.form-control, .form-check-input, .form-select {
    opacity: 0.7;
    border-color:black;
}
#desplegableNavbar .dropdown-menu {
    background-color: #78CA91;
}

#voluntariadoCarrusel1, #voluntariadoCarrusel2, #voluntariadoCarrusel3 {
    height: 350px;
}

#logopaypal, #logoteaming, #logoamazon {
    max-width:50px;
}

.card-body {
    background-color:#caddcf;
}
#casaacogida {
    max-width: 500px;
}

#experienciaVoluntario {
    background-color: #8BAA92;
}

.cardProtectora {
    width: 300px; 
}

.imagenProtectora {
    width: 100%; 
    height: auto; 
}

.btn{
    background-color: #909CE0 !important;
    border-color: #78CA91 !important;
    border-width: 2px !important;
<<<<<<< HEAD:frontend/usuario/style.css
    color: white !important;
=======
    color:white !important;
>>>>>>> 81baf73012d7634badf9ba2c0414f34f487b44a9:proteyusuario/usuario/style.css
}

.footer-custom-bg {
    background-color: #78CA91;
  }


